{% load products_tag %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <script>
        function toggleElement(a) {
            var element = document.getElementById(a);
            if (element.style.display === 'none') {
                element.style.display = 'block';
            } else {
                element.style.display = 'none';
            }
        }
    </script>
</head>
<body>
    {% if request.user.is_authenticated %}
        {% ShowMenu 2 %}
    {% else %}
        {% ShowMenu 1 %}
    {% endif %}

    <h1>Профиль</h1>

    {%if me.photo %}
        <p><img src="{{me.photo.url}}" width="200px"></p>
    {% endif%}

    {%if user.first_name %}
        <h3>Имя: {{user.first_name}}</h3>
    {% else %}
        <h3>Имя: Нет Фамилии</h3>
    {% endif%}

    {%if user.last_name %}
        <h3>Фамилия: {{user.last_name}}</h3>
    {% else %}
         <h3>Фамилия: Нет Фамилии</h3>
    {% endif%}

    {%if user.email %}
        <h3>Email: {{user.email}}</h3>
    {% else %}
        Email: Нету
    {% endif%}

    <h3>юзернейм: {{user.username}}</h3>

    <h3>Описание:</h3>
    {{me.desc}}

    <button if=desc onclick="toggleElement('1')">Изменить</button>
    {% if 1 %}
    <div id="1">
        This element is visible!
    </div>
    {% endif %}


    <h3>Адрес:</h3>
     {%if me.default_address %}
        {{me.default_address|adress2}}
    {% else %}
        Нет Адреса
        <p>Без адресса, вы не сможете ничего купить</p>
    {% endif%}

    <a href="{% url 'addAdress' %}">
        <button>Сменить Адрес</button>
    </a>

    <br><br><br><br>


</body>
</html>