{% load products_tag %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    {% if request.user.is_authenticated %}
        {% ShowMenu 2 %}
    {% else %}
        {% ShowMenu 1 %}
    {% endif %}

    <h1>Профиль</h1>

    {%if me.photo %}
        <p><img src="{{me.photo.url}}" width="200px"></p>
    {% endif%}

    {%if user.first_name %}
        <h3>Имя: {{user.first_name}}</h3>
    {% else %}
        <h3>Имя: Нет Фамилии</h3>
    {% endif%}

    {%if user.last_name %}
        <h3>Фамилия: {{user.last_name}}</h3>
    {% else %}
         <h3>Фамилия: Нет Фамилии</h3>
    {% endif%}

    {%if user.email %}
        <h3>Email: {{user.email}}</h3>
    {% else %}
        Email: Нету
    {% endif%}

    <h3>юзернейм: {{user.username}}</h3>

    <h3>Описание:</h3>
    {{me.desc}}
    {%if 1 %}
    {% else %}
    {% endif%}

</body>
</html>